/* Estilos generales para el tema claro */
body.light-theme {
  background-color: #f1f1f1;
  color: black;
}

body.dark-theme {
  background-color: #333;
  color: white;
}

/* Cambiar fondo de chat y burbujas de mensaje para temas */
.chat-container.light-theme {
  background-color: #f8f9fa;
}

.chat-container.dark-theme {
  background-color: #333;
}

.message-bubble.light-theme {
  background-color: #f1f1f1;
  color: black;
}

.message-bubble.dark-theme {
  background-color: #444;
  color: white;
}

.bg-primary.light-theme {
  background-color: #007bff;
  color: white;
}

.bg-primary.dark-theme {
  background-color: #1e3c72;
  color: white;
}